.about-us{
    display: flex;
    flex-direction: column;

    margin-top: 156px;
    padding: 32px;
}

.blog-headtext{
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--black-color);
    font-size: 62px;
    letter-spacing: 0.04rem;
    line-height: 72px;
    margin: 64px;
}

.about-us_line{
    border: 1px solid var(--secondary-color);
    width: 120px;
    margin: 0 64px;
}

.blog-content{
    margin: 32px 64px;

    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;

    cursor: pointer;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    padding: 2rem;
    gap: 24px;

}

.blog img{
    width: 72px;
    height: 72px;
}

.blog .blog-title{
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 24px;
    color: var(primary-color);
}

.blog .blog-descrition{
    font-family: var(--body-font);
    color: var(--graylish-violet);
}